/* Certificate button styling*/
.CertificateButton{
    
    background-color: rgb(150, 224, 12);
    border: none;
    color: white;
    padding: 12px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .CertificateButton:hover {
    background-color: #0ffa71;
  }
  
  .CertificateButton:active {
    transform: translateY(2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .CertificateButton:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  
  .CertificateButton:hover:before {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  
  .CertificateButton:active:before {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }
  .MainBody .CertificateButton{
    align-items: center;
  }