.container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.custom-card {
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 15px;
  background-color: #f8f9fa;
  color: #212529;
  width: 45%;
  margin-bottom: 20px;
  display: inline-block;
  vertical-align: top;
}

.custom-card:hover {
  background-color: #e9ecef;
  cursor: pointer;
}

.custom-card .card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.custom-card .card-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.custom-card .btn {
  margin-right: 10px;
}

.custom-card:nth-child(even) {
  background-color: #e9ecef;
}

@media only screen and (max-width: 768px) {
  .custom-card {
    width: 100%;
    margin-right: 0;
  }
}
