.brand-gallery {
  width: 1500px;
  height: 1900px;
  display: inline-block;
  align-items: center;
  justify-content: center;
 /* overflow-y:scroll;*/
}
.brand-images{
  display: flex;
  width: 1500px;
  height: 300px;
  
}
.brand-image{
width: 100%;
}
.brand-text{
  
  font-weight: 700;
}
.popular-videos{
  margin-top: 40px;
  height: 300px;
  color:black;
  background-color: white;
  overflow-y:scroll;
}
.videos-grid{
  margin-top: 0px;
  padding-top: 0%;
  
}

.contenthome{
  width: 1400px;
  font-weight: 400;
  justify-content: center;
  margin-left: 60px;
}
.contenthome ul li{
  font-weight: 400;
  list-style: disc;
}
