.profilestyle{
    padding-top: 100px;
    background-color: rgb(49, 27, 27);
    width: 1500px;
    height: 800px;
}
ul{
    list-style:  none;
    font-weight: 600;
    text-transform: capitalize;
    
}